.d-example {
    background: red;
}

.d-inner-item-1 {
    background: orange;
}

.d-inner-item-2 {
    background: white;
}

.d-inner-item-3 {
    background: blue;
}

.d-inner-item-4 {
    background: gold;
}